.nav { height: 90px; background: #0000003a; color: white; border-bottom: 1px solid #ffffff12; font-family: "Skranji"; letter-spacing: 1px; }

.nav .nav__title { font-size: 70px; text-align: center; line-height: 70px; margin: 0 0 30px 50px; padding-top: 10px; }

.nav .nav__title > img { height: 50px; }

.info { margin: 30px 0; background: #0a152e; background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(180, 227, 145, 0)), color-stop(50%, #0d1c3d), to(rgba(0, 0, 0, 0))); background-image: -o-linear-gradient(left, rgba(180, 227, 145, 0) 0, #0d1c3d 50%, rgba(0, 0, 0, 0) 100%); background-image: linear-gradient(90deg, rgba(180, 227, 145, 0) 0, #0d1c3d 50%, rgba(0, 0, 0, 0) 100%); background-position: 0% 0%; background-origin: padding-box; -webkit-background-clip: border-box; background-clip: border-box; background-size: auto auto; height: 40px; line-height: 40px; text-align: center; }

.info .info__elements { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; list-style: none; color: #7DA658; font-family: "Skranji"; opacity: 0.8; }

.info .info__elements > li { min-width: 170px; padding: 0 20px; font-size: 14px; }

.info .info__elements > li > span { margin-left: 5px; color: white; }

.info .info__elements::after { position: absolute; left: 50%; bottom: 0; -webkit-transform: translate(-50%); -ms-transform: translate(-50%); transform: translate(-50%); width: 988px; content: ""; display: inline-block; height: 1px; background: #ffa60060; }

.control { position: fixed; bottom: 40px; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 100%; margin: 50px 0 0 0; background: #0a152e; background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(180, 227, 145, 0)), color-stop(50%, #0d1c3d), to(rgba(0, 0, 0, 0))); background-image: -o-linear-gradient(left, rgba(180, 227, 145, 0) 0, #0d1c3d 50%, rgba(0, 0, 0, 0) 100%); background-image: linear-gradient(90deg, rgba(180, 227, 145, 0) 0, #0d1c3d 50%, rgba(0, 0, 0, 0) 100%); background-position: 0% 0%; background-origin: padding-box; -webkit-background-clip: border-box; background-clip: border-box; background-size: auto auto; height: 50px; text-align: center; }

.control > i { margin: 5px 20px 0 0; font-size: 30px; line-height: 40px; color: orange; opacity: 0.4; -webkit-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; }

.control > i:hover { opacity: 1; color: orange; cursor: pointer; }

.control #rew { font-size: 27px; }

.control::before { position: absolute; left: 50%; top: 0; -webkit-transform: translate(-50%); -ms-transform: translate(-50%); transform: translate(-50%); width: 988px; content: ""; display: inline-block; height: 1px; background: #ffa60060; }

* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { background: #1d1d1d; background: #0a152e; color: #ffb14a; }

.wrapper { position: relative; min-width: 1200px; min-height: 800px; margin: 0 auto; }

.mainPage { position: relative; margin: 0 auto; width: 988px; height: 610px; background: rgba(0, 0, 0, 0.5); border: 1px solid #a3691c; }

.startScreen { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 60%; height: 60%; background: black; opacity: 0.3; color: #a3691c; }

#board { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); margin: 0 auto; opacity: 1; }

#board::after { display: block; content: ""; clear: both; }

#board div { width: 5px; height: 5px; border: 1px solid #cccccc; background-color: #ffffff; float: left; }

#board div.live { background: #398300; }

#board div.red { background: red; }

#board div.blue { background: blue; }

footer { text-align: center; font-family: "Carter One"; position: fixed; bottom: 10px; left: 50%; -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); transform: translate(-50%, 0); color: white; opacity: 0.5; }
