@import './variables';
@import './nav';
@import './info';
@import './control';

@mixin clearFix() {
     &::after {
          display: block;
          content: "";
          clear: both;
     }
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     background: #1d1d1d;
     background: #0a152e;
     color: #ffb14a;
}

.wrapper {
     position: relative;
     min-width: 1200px;
     min-height: 800px;
     margin: 0 auto;
}

.mainPage {
     position: relative;
     margin: 0 auto;
     width: $main-width;
     height: 610px;
     background: rgba(0, 0, 0, 0.5);
     border: 1px solid #a3691c;
}

.startScreen {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 60%;
     height: 60%;
     background: black;
     opacity: 0.3;
     color: $main-orange;
}

#board {

     // display: none;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     margin: 0 auto;
     opacity: 1;
     // border: 1px solid orange;
     @include clearFix();

     div {
          width: 5px;
          height: 5px;
          border: 1px solid #cccccc;
          background-color: #ffffff;
          float: left;
     }

     div.live {
          background: #398300;
     }

     div.red {
          background: red;
     }

     div.blue {
          background: blue;
     }
}

footer {
     text-align: center;
     font-family: $font-carter;
     position: fixed;
     bottom: 10px;
     left: 50%;
     transform: translate(-50%, 0);
     color: white;
     opacity: 0.5;
}